/*  @TODO Make the calendar and list mobile friendly 
    @TODO Adjust the width of the calendar to work with different devices
*/

.calendar-container{

    /* Change width later */
    margin-bottom: 50px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;

}


/* ---Calendar--- */

.calendar{
    color: rgb(41, 41, 41);
    padding: 10px 0;

    border: solid #8A97A9 1px;    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-bottom: solid #8A97A9 1px;
    
}

.calendar-header > button{
    background: #DCDCDC;
    border: none;
}

.month-row{
    display: flex;
    justify-content: space-between;

}

.day-cell{
    width: 55px;
    height: 45px;
    padding-top: 8px;
    text-align: center;
}

.day-cell-underline{
    border-bottom: solid 2px #CF4D6F;
    padding-top: 0;
    border-radius: 2px;
    border-spacing: 0px;
}

.today{
    font-weight: bolder;
    color: rgb(211, 61, 61);
}

.day-cell > span{
    padding-bottom: 5px;
}



.calendar-list{
    margin-top: 80px;
    text-align: center;
    min-width: 400px;
}
